.calculator{
  max-width: 350px;
  margin: 0 auto;
  color: #666;
}
#header,#calc{
  box-sizing: border-box;
  text-align: center;
}

#header {
  font-size: 24px;
  padding: 1rem;
}

input{
  box-sizing: border-box;
  
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}

button{
  font-size: 18px;
  width: 22%;
  height: 3.5rem;
  color: #333;
  vertical-align: middle;
  border-color: #fff;
  border-radius: 16px;
}
button:hover{
  background-color: #ddd;
}

#last{
  width: 160px;
}