.calculator{
    max-width:400px;
    margin:0 auto;
    
}

#header {
    text-align: center;
    font-size: 30px;
    box-sizing: border-box;
    padding: 18px;
}
#calc{
    text-align: center;
    box-sizing: border-box;
}

div{
    display: block;
    padding:2px;
}
input{
    box-sizing: border-box;
    height: 60px;
    font-size: 30px;
    text-align: right;
    padding: 0 10px;
}
button{
  font-size: 20px;
  width:80px;
  height: 60px;
  color: black;
  vertical-align: middle;
  border-color: black;
  border-radius: 16px;
}

button:hover{
  background-color: #ddd;
}

#last{
    width:165px;
}

















